.training {
	padding-bottom: 2rem;

	li {
		list-style-type: square;
	}

	&__bio-image {
		height: 50vh;
		width: 100%;
		background: linear-gradient(
				to right,
				rgba($primary-color, 0.9),
				rgba($primary-color, 0.7)
			),
			url('../img/background.jpg') center top;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}
	p {
		margin-bottom: 1.4rem;
	}

	&__bio {
		width: 80%;
		text-align: center;

		.text-secondary {
			padding-bottom: 1rem;
		}
	}

	.train {
		width: 60vw;
		margin: 2rem auto 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;
		line-height: 1.2;
		//align-content: space-around;

		h4 {
			margin-bottom: 1rem;
		}

		.h4-bottom {
			margin-top: 1rem;
		}

		ul {
			margin-left: 14px;
			margin-bottom: 1.2rem;
			line-height: 1.2;
		}

		a {
			@include transition-ease;

			&:hover {
				color: $secondary-color;
			}
		}
	}
	.social-icons {
		display: flex;
		flex-direction: column;
	}

	footer {
		transform: rotate(90deg) translate(-3rem, -5rem);
	}
}
