body {
  background-color: #dcc6f2;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: #573c73;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

h3 {
  text-align: center;
  margin-top: 70px;
}

p {
  text-align: center;
}

footer li {
  list-style: none;
  padding: 10px;
}

nav li {
  list-style: none;
  padding: 20px;
}

.fab {
  color: #573c73;
  font-size: 25px;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: -25px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  margin-top: -15px;
}

.nav,
.footer {
  background-color: #d4b1fe;
}

a {
  text-decoration: none;
  color: #573c73;
  font-weight: 700;
}

.left {
  flex-grow: 1;
  margin-left: auto;
}

.right {
  margin-right: 25px;
}

ul {
  display: flex;
}

#img-logo {
  width: 60px;
  margin-top: -20px;
  border-radius: 50%;
}

#dummy {
  /*background-color: #a494b5;*/
  height: 500px;
}

/* Media Queries */

@media only screen and (max-width: 800px) {
  /* For mobile phones */

  .extra-link {
    display: none;
  }
  .footer {
    position: relative;
  }
  .left {
    margin-left: 0;
  }

  .right {
    margin: auto;
  }
}
