.training {
	padding: 2em;
	margin: 0 auto;
	text-align: center;
	box-shadow: var(--shadow);
	transition: transform 0.2s linear;
}

.training:hover {
	transform: translateY(-7px);
}

.training__description {
	margin-top: 1em;
}

.training__stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1.2em 0;
}

.training__stack-item {
	margin: 0.5em;
	font-weight: 500;
	font-size: 1rem;
	color: var(--clr-fg-alt);
	padding: 10px;
	border-radius: 10px;
}

.training .link--icon {
	margin-left: 0.5em;
}

@media (max-width: 600px) {
	.training {
		width: 80%;
	}
}
